/* ============================================= */
/*                Directory list                 */
/* ============================================= */

h1 {
  margin: 0 0 30px 25px;
}

.directory-list {
  list-style: none;
  padding: 0;
}

.directory-item {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 20px;
  border: 2px solid lightgrey;
  border-radius: 8px;
  background-color: #fff;

  transition: border-color .3s ease-out;

  img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
  }

  div {
    display: flex;
    flex-direction: column;
    pointer-events: none;

    p {
      margin: 5px 0px 5px 20px;
      word-break: break-all;
      pointer-events: none;
    }
  }

  &:hover {
    border: 2px solid blue;
    cursor: pointer;
  }
}
