/* ============================================= */
/*                 Grid                          */
/* ============================================= */

.directory-list {
  display: grid;

  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 100%);
  grid-gap: 25px 30px;

  @media (min-width: 400px) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 400px) {
    width: 400px;
  }

  @media (min-width: 833px) {
    width: 833px;
  }

  @media (min-width: 1262px) {
    width: 1262px;
  }
}
