/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #eee;
  padding-top: 40px;
}

body, html {
  height: 100%;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
  font-family: 'Open Sans', sans-serif;
  color: #404a51;
}

h1 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
}

.name {
  font-size: 19px;
  font-weight: 700;
}

.email, .city-location, .cell-number, .address, .birthday {
  color: #888e92;
  font-size: 15px;
}
