/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #eee;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
  font-family: 'Open Sans', sans-serif;
  color: #404a51;
}

h1 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
}

.directory-item {
  .name {
    font-size: 19px;
    font-weight: 700;
  }

  .email, .city-location {
    color: #888e92;
    font-size: 15px;
  }
}
